$bokeh-colors: #719190 #8AB1B0 #418292 #4C96A8 #889B4A #A3B95A #F79A32 #FCAC51;

.bg-opaque {
  background-color: RGBA(239, 242, 243, 0.1);
  transition: background-color 0.3s linear;
  transition: color 0.2s linear;
}

.bg-opaque-brown-dark {
  background-color: RGBA(33, 26, 16, 0.4);
}
.bg-opaque-brown-light {
  background-color: RGBA(52, 40, 21, 0.6)
}
.bg-opaque-blue {
  background-color: RGBA(80, 128, 144, 0.4)
}

#typed-text {
  color: #f6f6f6;
  opacity: 1;
  transition: color 0.7s linear;
  transition: opacity 0.5s linear;
  transition: width 0.3s linear;
  transition: font-size 0.3s linear;
  a {
    color: inherit;
  }
}
