html {
  opacity: 1;
  background-color: #fff;
  transition: opacity 0.4s linear;
}
body {
  transition: background-color 0.7s linear;
  overflow-y: hidden;
}

.page-enter-active, .page-leave-active {
  transition: opacity .3s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}

#typed-text {
  color: #f6f6f6;
  opacity: 1;
  transition: color 0.7s linear;
  transition: opacity 0.3s linear;
  transition: width 0.3s linear;
  transition: font-size 0.3s linear;
  a {
    color: inherit;
  }
}
